<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/theme.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js"></script>
    
    

    <script>
        $(document).ready(function () {

            

            var loadedSuggestions = [];  // Tableau pour stocker les suggestions chargées 

            

            for (var i = 0; i < 8; i++) {
                updateRandomSuggestions(loadedSuggestions);
            }

            var currentIndex = 0;
            var totalImages = $(".background-image").length;
            var box = $(".box");

            function changeBackground() {
                $("#background-container").css("transform", "translateX(" + -currentIndex * 100 / totalImages + "%)");
                currentIndex = (currentIndex + 1) % totalImages;
            }

            setInterval(changeBackground, 10000);

            $("#pokemon-search").on("input", function () {
                var searchTerm = $(this).val();

                if (searchTerm.length >= 2) {
                    $.getJSON("{{ url_for('autocomplete_pokemon') }}", { term: searchTerm }, function (data) {
                        updateSuggestions(data);
                        animateContainerUp();
                    });
                } else {
                    $("#suggestions-container").empty();
                    animateContainerDown();
                }
            });

            box.on('mouseenter', function () {
                gsap.to(box, { width: 350, duration: 1.0 });
            });

            box.on('mouseleave', function () {
                gsap.to(box, { width: 300, duration: 1.0 });
            });

            box.on('transitionend', function () {
                $(this).css('width', $(this).width());
            });

            box.on('focusout', function () {
                gsap.to(box, { width: 300, duration: 3.0 });
            });

            $(document).on('click', function (event) {
                var searchIcon = $("#search-icon");
                var container = $(".container");
                var searchContainer = $(".search-form");

                if (!searchContainer.is(event.target) && searchContainer.has(event.target).length === 0 && !searchIcon.is(event.target)) {
                    gsap.to(searchIcon, { scale: 1, duration: 0.3 });
                    gsap.to(container, { x: 0, duration: 0.3 });
                    searchContainer.css('display', 'none');
                }
            });

            $(document).on('click', '.suggestion-item', function () {
                var selectedImageLink = $(this).find('img').attr('src');
                var pokemonName = $(this).find('.card-name').text();
                window.location.href = "{{ url_for('pokemon_details', pokemon_name='') }}" + pokemonName + "?selectedImageLink=" + selectedImageLink;
            });
        });

        function updateSuggestions(suggestions) {
            var suggestionsContainer = $("#suggestions-container");
            suggestionsContainer.empty();

            $.each(suggestions, function (index, suggestion) {
                var suggestionHTML = '<div class="suggestion-item">' +
                    '<img src="' + suggestion.img_link + '" alt="' + suggestion.card_name + '">' +
                    '<span class="card-name">' + suggestion.card_name + '</span>' +
                    '<span class="set-info">' + suggestion.set_name + ' - ' + suggestion.bloc_name + '</span>' +
                    '</div>';
                suggestionsContainer.append(suggestionHTML);
            });
        }

        function updateRandomSuggestions(loadedSuggestions) {
                $.getJSON("/random_suggestions", function (data) {
                    loadedSuggestions.push(data);  // Ajouter la suggestion chargée au tableau

                    if (loadedSuggestions.length === 8) {
                        // Toutes les suggestions sont chargées, procédez à l'affichage
                        displaySuggestions(loadedSuggestions);
                    }
                });
            } 

            function displaySuggestions(loadedSuggestions) {
        var allSuggestionsHTML = '';

        for (var i = 0; i < 8; i++) {
            var data = loadedSuggestions[i];  // Utiliser les données à partir du tableau
            var suggestionHTML = '<div class="suggestion-item">' +
                '<img src="' + data.img_link + '" alt="' + data.card_name + '">' +
                '<span class="card-name">' + data.card_name + '</span>' +
                '<span class="set-info">' + data.set_name + ' - ' + data.bloc_name + '</span>' +
                '</div>';

            allSuggestionsHTML += suggestionHTML;
        }

        // Sélectionnez la première ligne de suggestions
        var suggestionsRow1 = $("#suggestions-row-1");

        // Sélectionnez la deuxième ligne de suggestions
        var suggestionsRow2 = $("#suggestions-row-2");

        // Ajoutez toutes les suggestions à la première ligne
        suggestionsRow1.html(allSuggestionsHTML);

        // Après l'ajout de toutes les suggestions à la première ligne, sélectionnez toutes les suggestions
        var allSuggestions = suggestionsRow1.children();

        
    } 

        
    </script>
</head>

<body>
    <div class="navbar">
        <span>Accueil</span>
        <span>À propos</span>
        <span>Contact</span>
    </div>

    <div id="background-container">
        <div class="background-image" style="background-image: url('https://digwallpapers.com/wallpapers/full/9/2/c/71534-1920x1200-pokemon-tcg-wallpaper-image-desktop-hd.jpg');"></div>
        <div class="background-image" style="background-image: url('https://i.redd.it/extended-card-art-wallpapers-part-3-including-a-dual-v0-bjk6brsi9gob1.jpg?width=3840&format=pjpg&auto=webp&s=cf2d6cdb345ae1212f6201ee95a2e97d42aae251');"></div>
    </div>

    <div class="container">
        <h1>Suivez le prix de votre carte !</h1>
        <form action="/" method="POST" class="search-form">
            <input type="hidden" name="selectedImageLink" id="selectedImageLink" value="">
            <div class="box">
                <input type="text" id="pokemon-search" name="pokemon_name" placeholder="Recherchez un Pokémon...">
                <button id="search-submit" type="submit">
                    <img src="{{ url_for('static', filename='images/poke_loupe.png') }}" alt="Icône de recherche" style="width: 35px; height: 35px; padding-top: 5px; padding-right: 5px;">
                </button>
            </div>
        </form>

        <div id="suggestions-container"></div>
    </div>

    <div id="break-line"></div>

    <div id="nouvelle-section-blanche">
        <img src="https://i.redd.it/g7bsmlohztva1.png" alt="Description de l'image" style="width: 100%; height: auto; display: block; filter: blur(10px);">
        <div id="texte-sur-image">
            <h1>Explorer des cartes inconnues!</h1>
        </div>
        <div id="espace-suggestions"></div>
        <div id="suggestions-container2" class="suggestions-container">
            <!-- Première ligne de suggestions -->
            <div id="suggestions-row-1" class="suggestions-row"></div>
            <!-- Deuxième ligne de suggestions -->
            <div id="suggestions-row-2" class="suggestions-row"></div>
        </div>
    </div>

</body>

</html>
