<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            var selectedImageLink = "";
            var box = $(".box");
            var container = $(".container");

            $("#pokemon-search").on("input", function () {
                var searchTerm = $(this).val();

                if (searchTerm.length >= 1) {
                animateContainerUp();
                }

                if (searchTerm.length < 1) {
                    animateContainerDown();
                }


                // Vérifier si la longueur du terme de recherche est d'au moins 2 caractères
                if (searchTerm.length >= 2) {
                    // Faites une requête AJAX pour obtenir les suggestions du serveur
                    $.getJSON("{{ url_for('autocomplete_pokemon') }}", { term: searchTerm }, function (data) {
                        // Mettez à jour le contenu du conteneur des suggestions avec les nouvelles suggestions
                        updateSuggestions(data);

                        // Animer le déplacement du conteneur vers le haut
                        
                    });
                } else {
                    // Si la longueur du terme de recherche est inférieure à 2, videz les suggestions
                    $("#suggestions-container").empty();

                    
                }
            

                $(document).on('click', '.suggestion-item', function () {
                var selectedImageLink = $(this).find('img').attr('src');
                var pokemonName = $(this).find('.card-name').text();

                // Redirigez vers la page results.html avec les données du Pokémon sélectionné
                window.location.href = "{{ url_for('pokemon_details', pokemon_name='') }}" + pokemonName + "?selectedImageLink=" + selectedImageLink;
            });
        });

        // Fonction pour mettre à jour le contenu des suggestions
        function updateSuggestions(suggestions) {
            var suggestionsContainer = $("#suggestions-container");
            suggestionsContainer.empty(); // Efface les anciennes suggestions

            // Boucle sur les suggestions et ajoute chaque suggestion au conteneur
            $.each(suggestions, function (index, suggestion) {
                var suggestionHTML = '<div class="suggestion-item">' +
                    '<img src="' + suggestion.img_link + '" alt="' + suggestion.card_name + '">' +
                    '<span class="card-name">' + suggestion.card_name + '</span>' +
                    '<span class="set-info">' + suggestion.set_name + ' - ' + suggestion.bloc_name + '</span>' +
                    '</div>';
                suggestionsContainer.append(suggestionHTML);
            }); 
        } 


        // Fonction pour animer le déplacement du conteneur vers le haut
        function animateContainerUp() {
                container.animate({ top: '50px' }, 500); // Vous pouvez ajuster la durée et la distance ici
            }

            // Fonction pour animer le retour du conteneur à sa position d'origine
            function animateContainerDown() {
                container.animate({ top: '100px' }, 500); // Vous pouvez ajuster la durée et la distance ici
            }

        $(document).on('click', '.suggestion-item', function () {
            var selectedImageLink = $(this).find('img').attr('src');
            var pokemonName = $(this).find('.card-name').text();

            // Redirigez vers la page results.html avec les données du Pokémon sélectionné
            window.location.href = "{{ url_for('pokemon_details', pokemon_name='') }}" + pokemonName;
        });

            $("#search-icon").on('click', function () {
                var searchIcon = $("#search-icon");
                var container = $(".container");
                var searchContainer = $(".search-form");

                gsap.to(searchIcon, { scale: 1.2, duration: 0.3 });
                gsap.to(container, { x: -300, duration: 0.3 });
                searchContainer.css('display', (searchContainer.css('display') === 'none') ? 'flex' : 'none');
            });

            box.on('mouseenter', function () {
                gsap.to(box, { width: 350, duration: 1.0 });
            });

            box.on('mouseleave', function () {
                gsap.to(box, { width: 300, duration: 1.0 });
            });

            box.on('transitionend', function () {
                $(this).css('width', $(this).width());
            });

            box.on('focusout', function () {
                gsap.to(box, { width: 300, duration: 3.0 });
            });

            $(document).on('click', function (event) {
                var searchIcon = $("#search-icon");
                var container = $(".container");
                var searchContainer = $(".search-form");

                if (!searchContainer.is(event.target) && searchContainer.has(event.target).length === 0 && !searchIcon.is(event.target)) {
                    gsap.to(searchIcon, { scale: 1, duration: 0.3 });
                    gsap.to(container, { x: 0, duration: 0.3 });
                    searchContainer.css('display', 'none');
                }
            });
        });
    </script>
</head>

<body>
    <div class="navbar">
        <!-- Ajoutez vos onglets ici -->
        <span>Cartes</span>
        <span>Mon compte</span>
        <!-- Ajoutez d'autres onglets au besoin -->
    </div>

    <!-- Remplacez le lien par votre fond d'écran -->
    <img id="background" src="https://digwallpapers.com/wallpapers/full/9/2/c/71534-1920x1200-pokemon-tcg-wallpaper-image-desktop-hd.jpg" alt="Fond d'écran">

    <div class="container">
        <h1>Suivez le prix de votre carte !</h1>
        <form action="/" method="POST" class="search-form">
            <input type="hidden" name="selectedImageLink" id="selectedImageLink" value="">
            <div class="box">
                <input type="text" id="pokemon-search" name="pokemon_name" placeholder="Recherchez un Pokémon...">
                <button id="search-submit" type="submit">
                    <img src="{{ url_for('static', filename='images/poke_loupe.png') }}" alt="Icône de recherche" style="width: 35px; height: 35px; padding-top: 5px; padding-right: 5px;">
                </button>
            </div>
        </form>

        <!-- Conteneur des suggestions -->
        <div id="suggestions-container"></div>
    </div>
</body>

</html>
